.analysis-page {
  padding: 40px 80px;
}
.analysis-page > h1 {
  color: #0f7f3a;
  margin-bottom: 2rem;
}

.analysis-page > p {
  font-family: "Open Sans", sans-serif;
  margin-bottom: 4rem;
}
.analysis-page > p > img {
  width: 1.6rem;
  height: auto;
  margin-right: 1rem;
}

.analysis-page > a {
  display: block;
  margin-top: 40px;
}
.analysis-page > a > button {
  padding: 1rem 3rem;
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 900;
  background-color: #c1ee32;
  border-radius: 8px;
  cursor: pointer;
}
.analysis-page > a > button:hover {
  background-color: #b4e02f;
}
