.forum-page section.header {
  background: url(../../resource/forum-main.jpg) 50% 50% no-repeat;
  background-size: 1200px 800px;
  height: 40rem;
  padding: 40px 80px;
}

.forum-page section.comment-section {
  padding: 40px 80px;
}
.forum-page section.comment-section .filter button {
  background-color: #c1ee32;
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 0.6rem;
  border-radius: 5px;
  margin-right: 10px;
  cursor: pointer;
}
.forum-page section.comment-section .filter button:hover {
  background-color: #b4e02f;
}
.forum-page section.comment-section .filter input {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  padding: 0.6rem;
  border: 1px #777 solid;
  border-radius: 5px;
}
.forum-page section.comment-section .comment-list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 15px;
  margin: 20px 0;
}
.forum-page section.comment-section .comment-list .comment-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  padding: 20px;
  border: 1px #000 solid;
  border-radius: 5px;
}
.forum-page section.comment-section .comment-list .comment-container img {
  cursor: pointer;
  width: 4rem;
  height: 4rem;
  filter: invert(48%) sepia(20%) saturate(15%) hue-rotate(80deg) brightness(91%)
    contrast(81%);
}
.forum-page section.comment-section .comment-list .comment-container .comment {
  flex: 1 0 70%;
}
.forum-page section.comment-section .comment-list .comment-container .actions {
  flex: 0 0 12.5rem;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.forum-page section.comment-section .actions {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
}
.forum-page section.comment-section .actions button {
  border: 1px #777 solid;
  padding: 5px 8px;
  border-radius: 5px;
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  cursor: pointer;
}

.forum-page section.feedback-section {
  padding: 40px;
}

.forum-page section.feedback-section > h2 {
  text-align: center;
  font-weight: bold;
  margin: 10px;
}
.forum-page section.feedback-section > p:nth-of-type(1) {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.forum-page section.feedback-section .feedbacks-container {
  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.forum-page section.feedback-section .feedbacks-container .feedback {
  flex: 0 0 22%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.forum-page section.feedback-section .feedbacks-container .user-img {
  width: 100%;
  padding-bottom: 100%;
  overflow: hidden;
  position: relative;
}
.forum-page section.feedback-section .feedbacks-container .user-img img {
  position: absolute;
  width: 100%;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.forum-page section.feedback-section > p:nth-of-type(2) > span {
  color: #0f7f3a;
  cursor: pointer;
  text-decoration: underline;
}
