footer {
  background-color: #c9e06d;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  font-family: "HK Grotesk Light";
}
footer > * {
  padding: 80px 0;
  flex: 1 1 30%;
}
footer > *:nth-child(1) {
  padding: 0 20px;
}

footer img.main-logo {
  width: 70%;
  height: auto;
}

footer .address p {
  line-height: 2.4rem;
}

footer .social h3 {
  font-family: "HK Grotesk Light", "Open Sans", sans-serif;
  margin-bottom: 20px;
}
footer .social img {
  margin: 10px;
  cursor: pointer;
}
